:root {
  --r-Background  :#000000;
  --r-Selection   :#b90570;
  --r-Foreground  :#FFFFFF;
  --r-Highlight   :#114c4c;
  --r-Blue        :#a7e2ff;
  --r-Green       :#ecc503;
  --r-Orange      :#f2c06a;
  --r-Pink        :#fdb5df;
  --r-Purple      :#00a77b;
  --r-Red         :#fe5d26;
  --r-Yellow      :#d4f19f;
  --r-main-font-size: 30px;
}