:root {

    --r-Background: #1c1c1c;
    --r-Selection: #6F6F6F;
    --r-Foreground: #f8f8f2;
    --r-Highlight: #6272a4;
    --r-Blue: #3984c6;
    --r-Green: #4E7334 ;
    --r-Orange: #E79461;
    --r-Pink: #F0AFD2;
    --r-Purple: #917CF0;
    --r-Red: #CC553D;
    --r-Yellow: #c1be3e;

    --r-main-font-size: 30px;
}
