<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default " en-us" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/poster.css">
  <link
  href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
  rel="stylesheet">
  <title>{{ .Title }} | {{ site.Title }}</title>
  {{ partial "hooks/head-end/custom_head.html" . }}
</head>

<body vocab="http://schema.org/" typeof="ScholarlyArticle">
  <header role="banner">
    <aside>

    </aside>
    <div>
      <h1 property="headline">{{ .Title }} </h1>
      <h2 property="alternativeHeadline">{{ .Page.Params.Poster.Subtitle }} </h2>
      <address>
        {{ range $author := .Page.Params.Poster.authors }}
        <p>
          <a property="author"> {{ $author }} </a>
        </p>
        {{ end }}
      </address>
      <span class="publication-info">
      </span>
    </div>
    <aside>

    </aside>
  </header>

  <main property="articleBody">
  {{ block "main" . }}{{ end }}

  {{/* Initialize Poster. */}}
  </main>
</body>

</html>