:root {
  --r-Background  :#000000;
  --r-Selection   :#d0d3d4;
  --r-Foreground  :#FFFFFF;
  --r-Highlight   :#7da1c4;
  --r-Blue        :#1d4289;
  --r-Green       :#007a78;
  --r-Orange      :#dc582a;
  --r-Pink        :#e56db1;
  --r-Purple      :#5d3754;
  --r-Red         :#d3273e;
  --r-Yellow      :#ffc845;
}