:root {
    --r-Background  :#FFFFFF;
    --r-Selection   :#7da1c4;
    --r-Foreground  :#000000;
    --r-Highlight   :#82372b;
    --r-Blue        :#4769ff;
    --r-Green       :#0a8a0a;
    --r-Orange      :#eb7d00;
    --r-Pink        :#e56db1;
    --r-Purple      :#b70fff;
    --r-Red         :#d3273e;
    --r-Yellow      :#268097;
    --r-main-font-size: 30px;
  }