:root {

    --r-Background: #282a36;
    --r-Selection: #6F6F6F;
    --r-Foreground: #f8f8f2;
    --r-Highlight: #6272a4;
    --r-Blue: #4B89BF;
    --r-Green: #4E7334 ;
    --r-Orange: #E79461;
    --r-Pink: #E7AD99;
    --r-Purple: #3a3189;
    --r-Red: #CC553D;
    --r-Yellow: #E9C992;

    --r-main-font-size: 30px;
}
