{{ if .IsNamedParams }}
<div style="font-size: {{if (.Get "font-size")}}{{ with .Get "font-size"}} {{ . | safeCSS }}{{ end }}{{else}}.9rem{{ end }};;margin-top:auto;text-align:{{if (.Get "align")}}{{ with .Get "align"}} {{ . | safeCSS }}{{ end }}{{else}}left{{ end }};color:{{if (.Get "color")}}{{ with .Get "color"}} {{ . | safeCSS }}{{ end }}{{else}}var(--r-Highlight){{ end }};">
{{else}}
<div style="font-size: .9rem;text-align:left;color:var(--r-Highlight);margin-top:auto">
{{end}}
    {{ .Inner }}
</div>