
<script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
<script src="/tools/grid2fp/grid2fp.js" type="text/javascript">
</script>
<style>
    .generator {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .controls {
        display: block;
    }

    th,
    td {
        border: 1px solid #6272a4;
        border-collapse: collapse;
    }

    table-container table {
        margin: 20px auto;
        padding: 0;
        background-color: #44475a;
        border-radius: 5px;
    }


    table-container td {
        padding: 15px;
        text-align: center;
        color: #ffb86c;
        font-family: monospace;
    }

    input {
        width: 70px;
        padding: 5px;
        margin: 10px;
        font-size: 16px;
        background: #44475a !important;
        border: none;
        border-radius: 5px;
    }

    .button,
    .convert,
    .download {
        margin-top: 15px;
        padding: 9px 30px;
        border: none;
        border-radius: 5px;
        background-color: #bd93f9;
        color: #44475a;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        transition: transform .1s cubic-bezier(0.77, 0.2, 0.05, 1);

        &:active {
            transform: scale(0.97);
        }

    }

    .convert,
    .download {
        width: 100%;
    }

    .table-placeholder {
        max-width: 500px;
        width: 100%;
        margin: 20px auto;

        &.hidden {
            display: none;
        }

        &__row {
            width: 100%;
            display: flex;
        }
    }

    &__item {
        max-width: 150px;
        width: 100%;
        height: 36px;
        margin: 2px;
        background: #44475a;
        border-radius: 5px;
    }


    table-container c {
        width: 100% !important;
        height: auto !important;
        max-width: 30vw;
        max-height: 30vh;
    }

    #svg-container svg {
        width: 100% !important;
        height: auto !important;
    }
</style>




<div id="table-container">
    <section class="controls">
        <label>
            Size :
            <input class="size" type="number" min="3" value="3">
        </label>
        <button class="button">Create table</button>
    </section>
    <table class="table" border="0" cellpadding="" cellspacing="" contenteditable="true">

    </table>

</div>
<button class="convert">Convert table</button>
<div id="svg-container"></div>
<button class="download">Download</button>


<script type="text/javascript">
    class Table {
        constructor(tableSelector, sizeSelector) {
            this.sizeSelector = sizeSelector
            this.tableObj = document.querySelector(tableSelector)
        }

        generate = () => {
            let tableHTML = ''
            const sizeNumber = parseInt(document.querySelector(this.sizeSelector).value)


            for (let i = 1; i <= sizeNumber; i++) {
                let tr = '<tr>'
                let td = ''

                for (let j = 1; j <= sizeNumber; j++) {

                    // if (i === 1 || j === 1) {
                    //   td = `<th class="header">${cellContent}</th>`;
                    // }
                    // else {
                    td = `<td>.</td>`;
                    // }

                    tr += td
                }

                tr += '</tr>'
                tableHTML += tr
            }

            this.tableObj.innerHTML = tableHTML
        }

    }

    const table = new Table('.table', '.size')

    document.querySelector('.button').addEventListener('click', () => {
        table.generate()
    });



</script>

<script type="text/javascript">


    document.querySelector('.convert').addEventListener('click', () => {
        svg = document.getElementById('svg-container')
        svg.innerHTML = "";
        drawer = new Drawer('#svg-container', '.table tr')
        drawer.generate()
    });

    document.querySelector('.download').addEventListener('click', () => {
        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }
        const svg = document.querySelector('#svg-container').innerHTML;
        const blob = new Blob([svg.toString()]);
        const element = document.createElement("a");
        element.download = uuidv4() + ".svg";
        element.href = window.URL.createObjectURL(blob);
        element.click();
        element.remove();
    });
</script>