<style>
    body {
        font-family: 'Verdana';
    }

    .generator {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .controls {
        display: block;
    }

    table,
    th,
    td {
        border: 1px solid #6272a4;
        border-collapse: collapse;
    }

    table {
        margin: 20px auto;
        padding: 0;
        background-color: #44475a;
        border-radius: 5px;
    }


    td {
        padding: 15px;
        text-align: center;
        color: #ffb86c;
        font-family: monospace;
    }

    input {
        width: 70px;
        padding: 5px;
        margin: 10px;
        font-size: 16px;
        background: #44475a;
        border: none;
        border-radius: 5px;
    }

    .button,
    .convert,
    .download {
        margin-top: 15px;
        padding: 9px 30px;
        border: none;
        border-radius: 5px;
        background-color: #bd93f9;
        color: #44475a;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        outline: none;
        transition: transform .1s cubic-bezier(0.77, 0.2, 0.05, 1);

        &:active {
            transform: scale(0.97);
        }

    }

    .convert,
    .download {
        width: 100%;
    }

    .table-placeholder {
        max-width: 500px;
        width: 100%;
        margin: 20px auto;

        &.hidden {
            display: none;
        }

        &__row {
            width: 100%;
            display: flex;
        }
    }

    &__item {
        max-width: 150px;
        width: 100%;
        height: 36px;
        margin: 2px;
        background: #44475a;
        border-radius: 5px;
    }

    svg {
        width: 100% !important;
        height: auto !important;
    }

    #svg-container {
        width: 100% !important;
        height: auto !important;
        max-width: 30vw;
        max-height: 30vh;
    }
</style>



<div id="table-container">
    <section class="controls">
        <label>
            Size :
            <input class="size" type="number" min="3" value="3">
        </label>
        <button class="button">Create table</button>
    </section>
    <table class="table" border="0" cellpadding="" cellspacing="" contenteditable="true"></table>

</div>
<button class="convert">Convert table</button>
<div id="svg-container"></div>
<button class="download">Download</button>


<script type="text/javascript">
    class Table {
        constructor(tableSelector, sizeSelector) {
            this.sizeSelector = sizeSelector
            this.tableObj = document.querySelector(tableSelector)
        }

        generate = () => {
            let tableHTML = ''
            const sizeNumber = parseInt(document.querySelector(this.sizeSelector).value)


            for (let i = 1; i <= sizeNumber; i++) {
                let tr = '<tr>'
                let td = ''

                for (let j = 1; j <= sizeNumber; j++) {

                    // if (i === 1 || j === 1) {
                    //   td = `<th class="header">${cellContent}</th>`;
                    // }
                    // else {
                    td = `<td>.</td>`;
                    // }

                    tr += td
                }

                tr += '</tr>'
                tableHTML += tr
            }

            this.tableObj.innerHTML = tableHTML
        }

    }

    const table = new Table('.table', '.size')

    document.querySelector('.button').addEventListener('click', () => {
        table.generate()
    });



</script>

<script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
<script type="text/javascript">
    class Segment {
        constructor() {
            this.source = [null, null]
            this.sink = [null, null]
        }
        isNull = () => {
            for (var i = 0; i < this.source.length; i++) {
                if (this.source[i] == null) {
                    return true
                }
            }
            for (var i = 0; i < this.sink.length; i++) {
                if (this.sink[i] == null) {
                    return true
                }
            }
            return false
        }

    }
    class Drawer {
        constructor(imgSelector, tableSelector) {
            this.tableObj = document.querySelectorAll(tableSelector)
            SVG().clear(imgSelector)
            this.eccentricity = 0.9
            this.crossing_color = "#ffffff"
            this.string_color = "#000000"
            this.diagram = []
            this.stroke_width = 0.1
            this.__parse_table()
            this.draw = SVG().addTo(imgSelector)
            // this.draw.viewbox(10 * this.diagram.length, 10 * this.diagram.length)
            this.draw.viewbox({
                x: 0, y: 0,
                width: 2 * Math.sqrt(2) * this.diagram.length,
                height: 2 * Math.sqrt(2) * this.diagram.length
            })
            this.draw.size(200, 200)
            // this.draw.size(10 * this.diagram.length, 10 * this.diagram.length)
            this.segments = []
            this.__get_segments()
        }
        __parse_table = () => {
            this.diagram = Array.prototype.map.call(this.tableObj, function (tr) {
                return Array.prototype.map.call(tr.querySelectorAll('td'), function (td) {
                    return td.innerHTML.trim().replace(/(<br ?\/?>)*/g, "");;
                });
            });
        }
        __get_segments = () => {
            this.__get_segments_horizontal();
            this.__get_segments_vertical();
        }
        __get_segments_horizontal = () => {
            var segs = []
            for (var i = 0; i < this.diagram.length; i++) {
                var seg = new Segment()
                for (var j = 0; j < this.diagram.length; j++) {
                    if (this.diagram[i][j] != ".") {
                        if (this.diagram[i][j].trim() != "") {
                            if (this.diagram[i][j].trim().toLowerCase() == "x") {
                                seg.sink[0] = j
                                seg.sink[1] = i
                            }
                            if (this.diagram[i][j].trim().toLowerCase() == "o") {
                                seg.source[0] = j
                                seg.source[1] = i
                            }
                        }
                    }
                }
                if (!seg.isNull()) { this.segments.push(seg) }
            }
        }
        __get_segments_vertical = () => {

            var segs = []
            for (var j = 0; j < this.diagram.length; j++) {
                var seg = new Segment()
                for (var i = 0; i < this.diagram.length; i++) {
                    if (this.diagram[j][i] != ".") {
                        if (this.diagram[j][i].trim() != "") {
                            if (this.diagram[j][i].trim().toLowerCase() == "x") {
                                seg.source[0] = j
                                seg.source[1] = i
                            }
                            if (this.diagram[j][i].trim().toLowerCase() == "o") {
                                seg.sink[0] = j
                                seg.sink[1] = i
                            }
                        }
                    }
                }
                if (!seg.isNull()) { this.segments.push(seg) }
            }
        }
        __draw_segment = (step) => {
            var rot_src = this.__rotate(step.source[0], step.source[1])
            var rot_snk = this.__rotate(step.sink[0], step.sink[1])
            var delta_x = rot_snk[0] - rot_src[0]
            var x_ctr1 = rot_src[0] + (this.eccentricity * delta_x)
            var x_ctr2 = rot_snk[0] - (this.eccentricity * delta_x)

            var path = "M"
            path += rot_src[0] + "," + rot_src[1]
            path += " C"
            path += x_ctr1 + "," + rot_src[1] + "," + x_ctr2 + "," + rot_snk[1] + "," + rot_snk[0] + "," + rot_snk[1]

            return path
        }
        __rotate = (x, y) => {
            var r = 1 / Math.sqrt(2)
            return [(-x * r - y * r), (-x * r + y * r)]
        }
        generate = () => {
            var group = this.draw.group().addClass('my-group' + i)
            group.transform({
                rotate: 0,
                translateX: Math.sqrt(2) * this.diagram.length,
                translateY: Math.sqrt(2) * this.diagram.length / 2
            })
            group.attr('fill', "none")
            group.attr('stroke-width', this.stroke_width)
            group.attr('stroke', this.string_color)

            for (var i = this.segments.length-1; i >= 0; i--) {
                var inner_group = group.group().addClass('my-group' + i)
                var path_str = this.__draw_segment(this.segments[i])
                var path = inner_group.path(path_str)
                path.stroke({ color: this.crossing_color, width: this.stroke_width * 2 })
                path.plot()
                var path = inner_group.path(path_str)
                path.plot()
            }
        }

    }


    document.querySelector('.convert').addEventListener('click', () => {
        drawer = new Drawer('#svg-container', '.table tr')
        drawer.generate()
    });
</script>
<script type="text/javascript">

    document.querySelector('.download').addEventListener('click', () => {
        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }
        const svg = document.querySelector('#svg-container').innerHTML;
        const blob = new Blob([svg.toString()]);
        const element = document.createElement("a");
        element.download = uuidv4() + ".svg";
        element.href = window.URL.createObjectURL(blob);
        element.click();
        element.remove();
    });
</script>