<div class="canvasdiv canvrow">
  <div class="canvcolumn">
    <div>
      <button id="disablekeys" style="border-radius: 12px; background-color: #ff5555;">Slides Enabled</button>
    </div>
  </div>
  <div class="canvcolumn">
    <div>
      <canvas id="unity-canvas" width="960" height="600"
        style="width: 960px; height: 600px; background: #231f20;"></canvas>
      <script src="{{ index .Params 0 }}/build.loader.js"></script>
      <script>
        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
          // Mobile device style: fill the whole browser client area with the game canvas:
          var meta = document.createElement('meta')
          meta.name = 'viewport'
          meta.content =
            'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes'
          document.getElementsByTagName('head')[0].appendChild(meta)

          var canvas = document.querySelector('#unity-canvas')
          canvas.style.width = '100%'
          canvas.style.height = '100%'
          canvas.style.position = 'fixed'

          document.body.style.textAlign = 'left'
        }

        createUnityInstance(document.querySelector('#unity-canvas'), {
          dataUrl: '{{ index .Params 0 }}/build.data',
          frameworkUrl: '{{ index .Params 0 }}/build.framework.js',
          codeUrl: '{{ index .Params 0 }}/build.wasm',
          streamingAssetsUrl: 'StreamingAssets',
          companyName: 'DefaultCompany',
          productName: 'My project',
          productVersion: '0.1',
          // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
          // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
        })


      </script>
      <script type="text/javascript">
        var keyboard_stat = true;
        window.onload = function () {
          document.getElementById("disablekeys").onclick = function () {

            btn = document.getElementById("disablekeys")
            keyboard_stat = !keyboard_stat;

            if (keyboard_stat)
            {
              btn.innerHTML = "Slides Enabled"
            }else
            {
              btn.innerHTML = "Slides Disabled"
            }

            Reveal.configure({ keyboard: keyboard_stat });
          };
        }
      </script>
    </div>
  </div>
</div>